
<!-- <div class="container"> -->
  <!-- <div class="row justify-content-start"> -->
      <div class="card animated fadeIn">
      <img [src]=" heroes.img " class="card-img-top img-fluid" [alt] ="heroes.nombre">
      <div class="card-body">
        <h5 class="card-title"> {{ heroes.nombre }} </h5>
        <p class="card-text"> {{ heroes.bio }} </p>
        <p class="card-text"><small class="text-muted"> {{ heroes.aparicion }} </small></p>
      </div>
      
      <div>
      <button (click)="verHeroes()"
      type="button" class="btn btn-outline-primary btn-block" >
          Ver más..
      </button>
      </div>
    <!-- </div> -->
<!-- </div> -->